#fiz{
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    margin:0px;
    z-index:1;
}
#stick{
    position:sticky;
    top:55px;
    bottom:auto;
    left: auto; 
    right: auto;
    text-decoration:underline;
    text-transform:uppercase;
    background-color:red;
}

#scrollbox {overflow:scroll; width: 15em; height: 18em;}
/* #scrollbox span {position: sticky; top: 2em; bottom: auto;
left: auto; right: auto;} */
#hello{
    display:flex;
    /* flex-direction:column; */
    flex-direction:row
    
    border:1px solid
}
div p{
    border:1px solid
          
}